@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 223 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 223 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 30% 20%;
    --primary: 223 100% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 187 68% 82%;
    --secondary-foreground: 223 30% 20%;
    --muted: 187 50% 90%;
    --muted-foreground: 223 20% 45%;
    --accent: 55 100% 89%;
    --accent-foreground: 55 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 50% 90%;
    --input: 223 50% 90%;
    --ring: 223 100% 58%;
    --chart-1: 223 100% 58%;
    --chart-2: 187 68% 82%;
    --chart-3: 55 100% 89%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 223 30% 10%;
    --foreground: 223 20% 90%;
    --card: 223 30% 12%;
    --card-foreground: 223 20% 90%;
    --popover: 223 30% 12%;
    --popover-foreground: 223 20% 90%;
    --primary: 223 100% 58%;
    --primary-foreground: 223 100% 95%;
    --secondary: 187 60% 30%;
    --secondary-foreground: 223 20% 90%;
    --muted: 223 20% 20%;
    --muted-foreground: 223 20% 65%;
    --accent: 55 50% 40%;
    --accent-foreground: 55 90% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 20% 25%;
    --input: 223 20% 25%;
    --ring: 223 100% 58%;
    --chart-1: 223 100% 58%;
    --chart-2: 187 68% 82%;
    --chart-3: 55 100% 89%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
